html {
    scroll-behavior: smooth;
}


/*font*/

@font-face {
    font-family: 'NotoSansJP_Bold';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('/asset/fonts/NotoSansJP-Black.otf') format('otf');
    font-display: swap;
}

.font-notoserif {
    font-family: 'NotoSerifJP_700', serif;
    font-display: swap;
}

.font-small {
    font-size: 0.8rem;
}

.font-middle {
    font-size: 1rem;
}

.font-xmiddle {
    font-size: 1.2rem;
}

.font-xxmiddle {
    font-size: 1.6rem;
}

.font-large {
    font-size: 2.5rem;
}

.font-xlarge {
    font-size: 3.5rem;
}

.line-height-unset {
    line-height: unset;
}

.line-height-2 {
    line-height: 2;
}

@media (min-width:768px) {
    .font-md-large {
        font-size: 2.5rem;
    }
}

@media (min-width:992px) {
    .font-lg-middle {
        font-size: 1rem;
    }
    .font-lg-xmiddle {
        font-size: 1.2rem;
    }
    .font-lg-xxmiddle {
        font-size: 1.6rem;
    }
    .font-lg-large {
        font-size: 2.5rem;
    }
    .font-lg-xlarge {
        font-size: 3.5rem;
    }
    .line-height-lg-unset {
        line-height: unset;
    }
    .border-lg-none {
        border: none!important;
    }
}

.text-white {
    color: #fff;
}

.text-gray {
    color: #999;
}

.text-pink {
    color: #d45377;
}


/*background*/

.bg-lgray {
    background: #eeeeee;
}

.bg-gray {
    background: #dddddd;
}

.bg-dblue {
    background: #192d61;
}

.border-gray {
    border-color: #999!important;
}


/*width-height*/

.w-50px {
    width: 80px;
}

.w-800px {
    width: 800px;
}

.w-1000px {
    width: 1000px;
}

@media (min-width:992px) {
    .w-lg-800px {
        width: 800px;
    }
    .w-lg-auto {
        width: auto;
    }
}


/*margin-padding*/

.pt-6 {
    padding-top: 4.5rem;
}

.pb-6 {
    padding-bottom: 4.5rem;
}

.position-middlecenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.badge-dblue {
    background-color: #192d61;
    color: #fff;
}

.badge-lgray {
    background-color: #eee;
    color: #333;
}

.badge-pink {
    background-color: #d45377;
    color: #fff;
}

.dec-leftborder {
    border-left: 10px solid #192d61;
    padding-left: .6rem;
}

.overflow-scroll-x {
    overflow-x: scroll;
}

@media (min-width:992px) {
    .overflow-lg-auto {
        overflow: inherit;
    }
}

.keyvisual {
    height: 60vh;
    min-height: 400px;
    background-image: url('/assets/img/keyvisual.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-totop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 100;
    background: #000;
    border-radius: 6px;
    transform: translate(0, 0);
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0;
}

.btn-totop>a {
    width: 50px;
    height: 50px;
    padding-top: 3px;
    line-height: 0;
    display: block;
    text-align: center;
    font-size: 40px;
    color: white;
}

.btn-totop.is-firstview {
    transform: translate(0, 200px);
}


/**/

.detailpage-left {
    -ms-flex: 0 0 600px;
    flex: 0 0 600px;
}

.detailpage-iframe {
    width: 100%;
    height: 90vh;
    overflow-x: scroll;
    position: sticky;
    top: 0;
    right: 0;
    overflow-x: scroll;
    border: none;
}